.btn {
  background-color: #EB5C6C;
  border: none;
  border-radius: 24px;
  color: $color-white;
  cursor: pointer;
  font-family: $font-family-secondary;
  font-size: $font-size-md;
  font-style: normal;
  font-weight: $font-weight-bold;
  padding: .75rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;

  &:hover {
    background-color: #C84D5B;
  }
}