.middle-banner {
  background-image: url('../img/banner-img-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 563px;
  position: relative;
  width: 100%;

  & .middle-banner-content {
    background-color: $color-white;
    border-radius: 0.875rem;
    bottom: 2rem;
    margin: 0 1.25rem;
    padding: 2.5rem 1.25rem 2rem 1.25rem;
    position: absolute;

    & .middle-banner-title {
      color: $color-black;
      font-size: $font-size-xxxl;
      font-weight: 700;
      line-height: 34px;
      padding-bottom: 1rem;
      text-align: left;
    }

    & .middle-banner-text {
      color: $color-black;
      font-size: $font-size-md;
      font-weight: 400;
      line-height: 24px;
      padding: 0 2rem 2rem 0;
      text-align: left;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    height: 382px;

    & .middle-banner-container {
      margin: auto;
      max-width: $container-max-width;
      padding: 3.75rem 0;

      & .middle-banner-content {
        bottom: unset;
        height: calc(100% - 120px);
        margin: auto 0;
        width: calc($container-max-width / 2);
      }
    }
  }
}