header {

  & .nav-banner-header {
    display: none;

    @media (min-width: $breakpoint-desktop) {
      background-color: #EDEDED;
      display: block;
      width: 100%;

      & .nav-banner-language-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $container-max-width;
        padding: 0;

        & .nav-banner-language {
          & .nav-banner-btn {
            background-color: $color-mobile-active-menu-bg;
            border: none;
            color: $color-green;
            cursor: pointer;
            font-size: $font-size-sm;
            font-weight: $font-weight-normal;
            line-height: 24px;
            text-align: center;
          }

          & .btn-eng {
            color: $color-black;
            margin-right: .3rem;
          }
        }
      }
    }
  }


  & #navbar {
    align-items: center;
    background-color: $color-white;
    display: grid;
    grid-template-areas: "navLogo navIcons"
      "navMenu navMenu"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 1rem 0 1rem 0;
    z-index: 99;

    @media (min-width: $breakpoint-desktop) {
      display: grid;
      grid-template-areas: "navLogo navMenu navIcons";
      grid-template-columns: auto 1fr 40px;
      grid-template-rows: 1fr;
      margin: 0 auto;
      max-width: $container-max-width;
      padding: 0;
    }

    & .nav-logo-container {

      & .nav-logo {

        & img {
          width: 100%;
          padding-left: 1.5rem;

          @media (min-width: $breakpoint-desktop) {
            padding-left: 0;
          }
        }
      }

      @media (min-width: $breakpoint-desktop) {
        margin-right: 3rem;
      }
    }

    & .nav-menu.active {
      left: 0;
      opacity: 1;
      position: relative;
    }


    & .nav-menu {
      background-color: $color-mobile-active-menu-bg;
      display: grid;
      flex-direction: column;
      grid-area: navMenu;
      grid-template-columns: 1fr;
      left: -100%;
      min-height: 100%;
      opacity: 0;
      position: absolute;
      text-align: center;
      transition: opacity .5s ease-in-out;
      width: 100%;
      z-index: 99;

      & .nav-item {
        cursor: pointer;
        list-style-type: none;
        margin: 0 1.5rem;
        padding: .2rem 0;
        text-align: left;
        white-space: nowrap;

        & ul {
          display: none;
        }


        & .nav-link:focus+ul,
        & .nav-link:active+ul {
          display: block;
          left: 0;
          top: 100%;
          width: 100%;
          z-index: 99;

          & .subnav-content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            & .subnav-content-link {
              color: $color-black;
              font-size: $font-size-sm;
              font-weight: $font-weight-light;
              padding: .75rem 1.5rem;
              text-align: left;
              text-decoration: none;
            }
          }

          @media (min-width: $breakpoint-desktop) {
            display: none;
          }

        }

        & .nav-link {
          color: $color-black;
          display: grid;
          font-size: $font-size-xl;
          font-weight: $font-weight-normal;
          grid-template-areas: "navLink navLinkPlus";
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          line-height: 58px;
          text-decoration: none;
          transition: 0.3s ease-in-out;

          & ::after {
            color: $color-black;
            content: "+";
            font-size: $font-size-xl;
            font-weight: $font-weight-normal;
            padding-right: .3rem;
            text-align: right;
            transition: 0.3s ease-in-out;

            @media (min-width: $breakpoint-desktop) {
              display: none;
            }
          }
        }

        & .nav-link:active,
        .nav-link:focus {
          color: $color-green;

          & ::after {
            content: "-";
            font-size: $font-size-xl;
            font-weight: $font-weight-normal;

            text-align: right;
            transition: 0.3s ease-in-out;

            @media (min-width: $breakpoint-desktop) {
              display: none;
            }
          }

        }

        @media (min-width: $breakpoint-desktop) {
          border-radius: 5px;
          cursor: pointer;
          margin: 1rem .2rem;
          padding: 0;
          text-align: center;

          & .nav-link {
            color: $color-black;
            font-size: $font-size-md;
            font-weight: $font-weight-normal;
            position: static;
            text-decoration: none;
            transition: 0.3s ease-in-out;
          }
        }
      }

      & .nav-banner {
        margin-bottom: 2rem;
        position: relative;

        & .nav-banner-language {
          padding-top: .75rem;
          position: absolute;
          right: 1.75rem;

          & .nav-banner-btn {
            background-color: $color-mobile-active-menu-bg;
            border: none;
            color: $color-green;
            cursor: pointer;
            font-size: $font-size-sm;
            font-weight: $font-weight-normal;
            line-height: 24px;
            text-align: center;
          }

          & .btn-eng {
            color: $color-black;
            margin-right: .3rem;
          }
        }

        @media (min-width: $breakpoint-desktop) {
          display: none;
        }
      }

      & .search-container {
        padding: 1.5rem;

        & .search-container .active {
          display: block;
        }

        & .search-input {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
          background-position: 5% center;
          background-repeat: no-repeat;
          background-size: 18px 18px;
          border: 1px solid #DDDDDD;
          border-radius: $border-radius-md;
          border-radius: 26px;
          color: $color-black;
          font-size: $font-size-sm;
          font-weight: $font-weight-normal;
          left: 0;
          line-height: $line-height-sm;
          margin: 0 auto;
          outline: none;
          padding: 0.5rem;
          width: 80%;

          &::placeholder {
            color: #AAA;
            padding: 0 0 0 2rem;
          }
        }

        @media (min-width: $breakpoint-desktop) {
          display: none;
        }
      }

      @media (min-width: $breakpoint-desktop) {
        all: unset;
        background-color: $color-white;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        height: 100%;
        margin-top: 0;
        position: static;
        text-align: center;
        transition: 0.3s;
        width: 100%;
        z-index: 99;
      }
    }

    & .nav-icons {
      align-items: center;
      color: $color-black;
      cursor: pointer;
      display: flex;
      grid-area: navIcons;
      justify-content: end;
      margin-right: 1.75rem;
      width: 10rem;

      & .menu-container {

        & .hamburger {
          cursor: pointer;
          display: block;

          & .bar {
            background-color: $color-black;
            display: block;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            width: 25px;
          }
        }

        & .hamburger.active .bar:nth-child(2) {
          opacity: 0;
        }

        & .hamburger.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        & .hamburger.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }

      & .search {
        margin-right: 1.2rem;
      }

      @media (min-width: $breakpoint-desktop) {
        margin-left: .75rem;
        width: 100%;

        & .menu-container {
          display: none;
        }
      }
    }
  }
}