$color-black: #000;
$color-white: #fff;
$color-grey: #F2F2F2;
$color-green: #008948;
$color-light-green: #D8E8C5;
$color-orange: #EE7203;
$color-light-orange: #F9CAA0;
$color-black-text: #102F2D;
$color-footer-bg: #333333;
$color-mobile-active-menu-bg: #EBEBEB;

$font-family-main: 'Montserrat',
sans-serif;
$font-family-secondary: 'Arial',
sans-serif;

// Variables font-size
$font-size-xxs: 0.625rem; // 10px
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-xxl: 1.5rem; // 24px
$font-size-xxxl: 1.875rem; // 30px
$font-size-xxxxl: 2.5rem; // 40px

// Variables font-weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Variables border-radius
$border-radius-sm: 0.25rem; // 4px
$border-radius-md: 0.5rem; // 8px
$border-radius-lg: 1rem; // 16px
$border-radius-xl: 2rem; // 32px

// Variables line-height
$line-height-sm: 1.5; // 24px
$line-height-md: 1.75; // 28px
$line-height-lg: 2; // 32px

// Breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-lg: 1440px;

// Container max width
$container-max-width: 1170px;